{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Nacional</title>
    <link rel="stylesheet" href="paginas.css">
</head>

<body class="home">

    <a href="#" class="login-btn">
        <img src="imagens/loginIcone.png" alt="Login" class="login-icon">
        <span>Login</span>
    </a>

    <h1 class="title">TRIVIA</h1>

    <img src="imagens/iconBr.png" class="big-icon" alt="Icone do site">

    <div class="mode-icons">
        <a href="br.html"><img src="imagens/iconBr.png" alt="Nacional"></a>
        <a href="global.html"><img src="imagens/iconGlobal.png" alt="Global"></a>
        <a href="ranqueado.html"><img src="imagens/iconRanked.png" alt="Ranqueado"></a>
        <a href="relogio.html"><img src="imagens/iconRelogio.png" alt="Contra-Relógio"></a>
    </div>

    <a href="#" class="play-btn">JOGAR</a>

</body>
</html>