{% load static %}
<!DOCTYPE html>
<html lang="pt_br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/curriculo2.css">
<title>Curriculo</title>
</head>

<body>
<img src='img/image.png' alt='Foto do dono do curriculo'>

<main>

<section id="Formacao"><h2>Formação</h2><ul></ul>
<li>Ensino Médio completo</li>
<li>2 semestre TUBerlin</li>
<li>4o Semestre Puc-Rio</li>
</ul>
</section>

<section id="Habilidades"><h2>Habilidades</h2>
Python, Maple, Solidworks e Microsoft (Powerpoint, Word, Excel)
</section>

<section id="Materias Atuais"><h2>Matérias Atuais</h2>
ENG4021,
INF1037,
ENG4500,
ENG4200
</section>

<div id="Idiomas"><h2>Idiomas</h2><table id="tabela">
<tr><th>Lingua</th><th>Fluencia</th></tr>
<tr><td>Portugues</td><td>Fluente</td></tr>
<tr><td>Ingles</td><td>Fluente</td></tr>
<tr><td>Alemao</td><td>Fluente</td></tr>
<tr><td>Espanhol</td><td>Basico</td></tr>
</table></div>

<section id="Links"><h2>Links</h2>
<nav>
<a href="curriculo.css">Css do Curriculo</a>
<a href="#Formacao">Formação</a>
<a href="#Habilidades">Habilidades</a>
<a href="#Idiomas">Idiomas</a>
<a href="#Materias Atuais">Matérias Atuais</a>
</nav>
</section>

</main>

</body>
</html>